<center><h1>Técnicas de Inteligencia Artificial</header1></center>

Presentado por: Jorge Borrero  <br>
Fecha: 18/07/2022

# Importación de librerias necesarias

In [9]:
#Para esta actividad se importarán las siguientes librerías:

#Importacion de la libreria pandas
import pandas as pd

#Importacion de la libreria numpy
import numpy as np

#Importacion de la libreria matplotlib.pyplot
import matplotlib.pyplot as plt

#Importacion de la libreria para regresión lineal
from sklearn.linear_model import LinearRegression 

# Importacion de la libreria statsmodels
import statsmodels.api as smi

# Del modelo de selección, importancion de train_test_split
from sklearn.model_selection import train_test_split

#Importacion de las metricas
from sklearn import metrics

## Cargar el Dataset

In [10]:
#Código para cargar el Dataset

'''
Procedimiento para cargar el dataset insurance
    pd: Variable que hace referencia a la libreria pandas
'''

#Cargamos el dataset
csv = pd.read_csv('insurance.csv')

In [11]:
'''
La función head() permite visualizar los 5 primeros datos del dataset por defecto
        Se visualizaran los datos del dataset
'''
#Visualizar los registros del dataset
csv.head(15)

    age     sex     bmi  children smoker     region      charges
0    19  female  27.900         0    yes  southwest  16884.92400
1    18    male  33.770         1     no  southeast   1725.55230
2    28    male  33.000         3     no  southeast   4449.46200
3    33    male  22.705         0     no  northwest  21984.47061
4    32    male  28.880         0     no  northwest   3866.85520
5    31  female  25.740         0     no  southeast   3756.62160
6    46  female  33.440         1     no  southeast   8240.58960
7    37  female  27.740         3     no  northwest   7281.50560
8    37    male  29.830         2     no  northeast   6406.41070
9    60  female  25.840         0     no  northwest  28923.13692
10   25    male  26.220         0     no  northeast   2721.32080
11   62  female  26.290         0    yes  southeast  27808.72510
12   23    male  34.400         0     no  southwest   1826.84300
13   56  female  39.820         0     no  southeast  11090.71780
14   27    male  42.130         0    yes  southeast  39611.75770

## Descripción de la fuente del Dataset

Haga una descripción de la fuente de dayos utilizada (Incluya los enlaces necesarios).

## Explique el problema a resolver. 
Descripción del problema. Tipo de problema (justifique). Variable objetivo, variables de entrada. Utilidad de su posible solución. Elementos adicionales que considere relevantes (no son necesarios contenidos teóricos, sino explicar qué relaciones tratas de comprobar y con qué métodos).

## Caracterización del Dataset

Realice una descripción de los datos con:

>- Número de instancias en total.
>- Número de atributos de entrada, su significado y tipo.
>- Estadísticas de la variable objetivo.
>- Estadísticas los atributos en relación con la variable objetivo.

In [3]:
#Código que responde a la descripción anterior

En un par de párrafos haga un resumen de los principales hallazagos encontrados:

## Preprocesamiento del dataset. Transformaciones previas necesarias para la modelación

In [4]:
#Transformación de las caracteristicas (mire el apartado Feature engineering del aula virtual)

## División del dataset en datos de entrenamiento y datos de test

In [5]:
#Código que realice la división en entrenamiento y test, de acuerdo con la estretgia de evaluación planeada. Describa cuál es.

## Regresión Lineal

In [6]:
#Códo del modelo

In [7]:
#Entrenamiento

In [8]:
#Test

## Evaluación del Modelo

Construya un o dos párrafos con los principales hallazgos. Cómo está funcionando el modelo? Calidad en los resultados de predicción.